<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Song</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body style="background-image: url('{% static 'images/vic.jpeg' %}'); background-size: cover; background-position: center; height: 100vh;">
    
    <div class="container mt-5">
        <h2  style="color: white; padding-top: 5px; padding-bottom: 30px;">Create a New Song</h2>
        <form method="POST" novalidate style="color: white;">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}  <!-- Render the form fields -->
            </div>
            <button type="submit" class="btn btn-success btn-block" style="width: 300px;">Save Song</button>
        </form>
        <br>
        <a href="{% url 'home' %}" class="btn btn-block" style="width: 300px; background-color: blue; color: white;">Back to Home</a>  
    </div>

    <!-- Bootstrap JS and dependencies (optional, for JS components) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
